name: GitHub Contribution Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create output directory
        run: mkdir -p dist

      - name: Generate Snake (Dark Mode)
        uses: davidtjong/snake-contrib-stats@v2
        with:
          github_user_name: haticesude
          out_file: dist/snake-dark.svg
          theme: dark

      - name: Upload to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
